<template>
  <div class="hotel">
    <Card :no-padding="true">
      <div class="hotel__row">
        <img class="hotel__row__image" :src="hotel.media[0].uri"/>
        <div class="hotel__row__content">
          <small class="hotel__row__content--rating">{{ hotel.rating }} {{ $t('hotel-card.rating') }}</small>
          <h2 class="hotel__row__content--title">{{ hotel.name }}</h2>
          <small class="hotel__row__content--location">{{ hotel.address.cityName }}</small>
        </div>
        <div class="hotel__row__currency">
          <small>{{ offer.guests.adults }} {{ $t('hotel-card.adults') }}</small>
          <h2 class="hotel__row__currency--price">{{ offer.price.currency }} {{ offer.price.total }}</h2>
        </div>
      </div>
    </Card>
  </div>
</template>
<style lang="sass">
.hotel
  &__row
    display: flex
    color: $tui-dark-100
    &__image
      height: 200px
      @media (max-width: $breakpoint-lg)
        height: 120px
    &__content
      padding: 10px 20px
      &--title
        margin: 5px 0
        @media (max-width: $breakpoint-lg)
          font-size: 14px
    &__currency
      position: relative
      width: 140px
      text-align: end
      padding-left: 20px
      margin: 10px 10px 10px auto
      border-left: 1px solid $tui-grey-50
      &--price
        position: absolute
        bottom: 0
        @media (max-width: $breakpoint-lg)
          font-size: 18px
</style>

<script>
import Card from '@/atoms/Card.vue';

export default {
  name: 'HotelCard',
  props: ['hotel', 'offer'],
  components: {
    Card,
  },
};
</script>
