<template>
  <div class="topbar">
    <Logo/>
    <Link/>
    <Link route="explore"/>
  </div>
</template>
<style lang="sass">
 .topbar
  padding: 0 160px
  height: 80px
  display: flex
  justify-content: flex-start
  align-items: center
  @media (max-width: $breakpoint-lg)
    padding: 0 20px
</style>

<script>
import Logo from '@/atoms/Logo.vue';
import Link from '@/atoms/Link.vue';

export default {
  name: 'Topbar',
  components: {
    Logo,
    Link,
  },
};
</script>
