<template>
  <section>
    <div class="explore">
      <h1 class="explore__title">{{ $t('explore.title', { count: hotels ? hotels.length : 0 }) }}</h1>
      <div class="explore__wrapper" v-for="hotel in hotels" :key="hotel.hotel.dupeId">
        <HotelCard :hotel="hotel.hotel" :offer="hotel.offers[0]"/>
      </div>
    </div>
  </section>
</template>

<style lang="sass">
.explore
  max-width: $breakpoint-xxl
  height: 700px
  margin: 0 80px
  @media (max-width: $breakpoint-lg)
    margin: 0
    width: 100%
  &__title
    color: $tui-dark-100
    margin: 10px
  &__wrapper
    margin: 10px
    border: 1px solid $tui-grey-50
</style>
<script>
import HotelCard from '@/components/HotelCard/HotelCard.vue';

export default {
  name: 'Explore',
  components: {
    HotelCard,
  },
  data() {
    return {
      hotels: [],
    };
  },
  async beforeCreate() {
    this.hotels = await this.$store.dispatch('searchHotels');
  },
};
</script>
