<template>
  <section>
    <div class="home">
      <div class="home__row">
        <div class="home__row__content">
          <h1 class="home__row__content--title">{{ $t('home.title')}}</h1>
          <h2 class="home__row__content--description">{{ $t('home.description')}}</h2>
        </div>
        <div class="home__row__content">
          <div class="home__row__content--form">
            <SearchForm/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="sass">
.home
  max-width: $breakpoint-xxl
  height: 700px
  margin: 0 80px
  background-image: url('../assets/home.jpg')
  @media (max-width: $breakpoint-lg)
    margin: 0
    width: 100%
    height: 100vh
  &__row
    display: flex
    height: 100%
    align-items: center
    background: transparent linear-gradient(-90deg,transparent,rgba(0,0,0,.8)) 0 0 no-repeat padding-box
    padding: 0 160px
    justify-content: space-between
    @media (max-width: $breakpoint-xxl)
      padding: 0 40px
    @media (max-width: $breakpoint-lg)
      padding: 0 20px
      display: block
      text-align: center
    &__content
      display: block
      width: 50%
      text-align: center
      position: relative
      @media (max-width: $breakpoint-lg)
        width: 100%
        padding: 30px 0 0 0
        display: grid
      &--title
        font-size: 80px
        font-weight: 400
        color: $tui-white
        margin: 0
        text-transform: uppercase
        letter-spacing: 1px
        @media (max-width: $breakpoint-xxl)
          font-size: 36px
      &--description
        margin: 0
        margin-top: 15px
        font-size: 24px
        font-weight: 400
        color: $tui-white
        @media (max-width: $breakpoint-xxl)
          font-size: 20px
      &--form
        text-align: initial
        padding-left: 30%
        @media (max-width: $breakpoint-lg)
          padding-left: 0
</style>

<script>
// @ is an alias to /src
import SearchForm from '@/components/SearchForm/SearchForm.vue';

export default {
  name: 'Home',
  components: {
    SearchForm,
  },
};
</script>
