<template>
  <div class="search">
    <Card>
      <h1 class="search__title">{{ $t('search-form.city-placeholder') }}</h1>
      <Input name="city-input" type="text" v-model="destiny" :placeholder="$t('search-form.title')"/>
      <Menu :items="cities" @click="handleMenuClick"/>
      <Datepicker v-model="range"/>
      <NumericInput name="guests-input" v-model="guests" :placeholder="$t('search-form.guests')"/>
      <Button :text="$t('search-form.submit-button')" @click="handleSearch"/>
    </Card>
  </div>
</template>
<style lang="sass">
.search
  &__title
    color: $tui-dark-100
    @media (max-width: $breakpoint-lg)
      font-size: 18px
</style>

<script>
import Card from '@/atoms/Card.vue';
import Input from '@/atoms/Input.vue';
import NumericInput from '@/atoms/NumericInput.vue';
import Button from '@/atoms/Button.vue';
import Menu from '@/atoms/Menu.vue';
import Datepicker from '../Datepicker/Datepicker.vue';

export default {
  name: 'SearchForm',
  components: {
    Card,
    Input,
    Datepicker,
    Button,
    Menu,
    NumericInput,
  },
  data() {
    return {
      destiny: '',
      requestTimeout: null,
      selected: null,
    };
  },
  methods: {
    handleSearch() {
      this.$store.dispatch('prepareData', {
        selected: this.selected,
        checkInDate: new Date(this.range.start),
        checkOutDate: new Date(this.range.end),
        adults: this.guests,
      });
      this.$router.push('/explore');
    },
    handleMenuClick(item) {
      this.destiny = item.name;
      this.selected = item.iataCode;
      this.$store.dispatch('clearSearch');
    },
  },
  watch: {
    destiny() {
      clearTimeout(this.requestTimeout);

      if (this.selected) return;

      if (this.destiny.length < 3) {
        this.$store.dispatch('clearSearch');
      } else {
        this.requestTimeout = setTimeout(() => {
          this.$store.dispatch('searchCities', {
            searchTerm: this.destiny,
          });
        }, 1000);
      }
    },
  },
  computed: {
    cities() {
      return this.$store.getters.citiesByCountry;
    },
    range() {
      return {
        start: this.$store.state.searchInfo ? this.$store.state.searchInfo.checkInDate : new Date().setDate(new Date().getDate() + 1),
        end: this.$store.state.searchInfo ? this.$store.state.searchInfo.checkOutDate : new Date().setDate(new Date().getDate() + 2),
      };
    },
    guests() {
      return this.$store.state.searchInfo ? this.$store.state.searchInfo.adults : 2;
    },
  },
};
</script>
