<style lang="sass" scoped>
.button
  position: relative
  display: inline-block
  padding: 10px 14px
  overflow: hidden
  border-width: 0
  outline: none
  border-radius: 3px
  background-color: $tui-red-100
  color: $tui-white
  transition: background-color 0.3s
  font-size: 24px
  @media (max-width: $breakpoint-xxl)
    font-size: 18px
  &:hover:not(.disabled),
  &:focus
    opacity: 0.8
    cursor: pointer
</style>
<template>
  <button
    :class="{ button: true, add: type === 'add', disabled }"
    @click="handleClick()"
    :disabled="disabled"
  >
    <span>{{ text }}</span>
  </button>
</template>
<script>
export default {
  name: 'Button',
  props: ['type', 'text', 'disabled'],
  methods: {
    handleClick() {
      this.$emit('click');
    },
  },
};
</script>
