<template>
  <div :class="{ card: true, 'card--no-padding': noPadding}">
    <slot></slot>
  </div>
</template>

<style lang="sass">
.card
  z-index: 999
  padding: 30px
  background-color: $tui-white
  &--no-padding
    padding: 0
</style>

<script>
export default {
  name: 'Card',
  props: ['noPadding'],
};
</script>
