<style lang="sass" scoped>
textarea
  resize: none

.input
  margin-bottom: 8px
  color: $tui-dark-100
  background: none
  width: 90%
  font-size: 20px
  font-weight: 300
  padding: 10px
  display: block
  border: none
  border-radius: 5px
  border: 1px solid $tui-grey-50
  @media (max-width: $breakpoint-lg)
    font-size: 16px
  &:focus
    outline: none
    box-shadow: 0 0 0 3px $tui-blue-200
</style>
<template>
  <div>
    <input v-if="value" class="input" :type="type" :ref="name" :value="value" @input="$emit('input', $event.target.value)" :placeholder="placeholder"/>
    <input v-else class="input" :type="type" :ref="name" :modelValue="modelValue" @input="$emit('update:modelValue', $event.target.value)" :placeholder="placeholder"/>
  </div>
</template>
<script>

export default {
  name: 'Input',
  props: ['value', 'modelValue', 'name', 'type', 'placeholder'],
  emits: ['update:modelValue'],
  watch: {
    modelValue(v) {
      this.$refs[this.name].value = v;
    },
  },
};
</script>
