<template>
  <router-link :class="{link: true, 'link--lite': lite}" :to="`/${route || ''}`">
    {{ $t(`link.${route || 'home'}`) }}
  </router-link>
</template>

<style lang="sass">
.link
  margin-left: 20px
  font-size: 18px
  font-weight: 700
  color: $tui-dark-100
  text-decoration: none
  position: relative
  &:before,
  &:after
    content: ""
    position: absolute
    bottom: -5px
    width: 0px
    height: 3px
    margin: 5px 0 0
    transition: all 0.2s ease-in-out
    transition-duration: 0.25s
    opacity: 0
    background-color: $tui-dark-100
    left: 0
  &:hover
    &:before,
    &:after
      width: 100%
      opacity: 1
  &--lite
    font-weight: 400
</style>

<script>
export default {
  name: 'Link',
  props: {
    route: String,
    lite: Boolean,
  },
};
</script>
