<template>
  <router-link to="/">
    <!-- eslint-disable-next-line max-len -->
    <svg width="80" height="57" xmlns="http://www.w3.org/2000/svg" class="app-svg app-svg--logo app-logo__svg" data-v-f32b32d6="" data-v-42dce2cb=""><path stroke="null" d="M79.575 39.143c.077-.063.134-.133.17-.211s.054-.196.054-.348V27.18c0-.156-.017-.273-.053-.355s-.094-.149-.171-.203c-.183-.137-.598-.207-1.254-.207-.667 0-1.09.07-1.273.207-.078.054-.135.125-.171.203s-.053.199-.053.355v11.405c0 .254.073.441.224.558.183.137.606.207 1.273.207.656 0 1.07-.07 1.254-.206zm-8.868.066c.68-.223 1.237-.535 1.677-.933s.757-.867.96-1.414.305-1.136.305-1.776v-7.91c0-.266-.073-.454-.215-.56-.196-.136-.61-.206-1.254-.206-.667 0-1.09.07-1.273.207-.086.054-.143.125-.175.203s-.05.199-.05.355v7.876c0 .312-.056.628-.17.956s-.362.598-.74.812c-.383.215-.888.32-1.515.32-.431 0-.806-.05-1.11-.148s-.558-.242-.754-.425c-.195-.184-.338-.403-.427-.66s-.134-.543-.134-.852V27.18c0-.266-.074-.453-.216-.558-.195-.137-.61-.207-1.254-.207-.667 0-1.09.07-1.27.207-.085.054-.142.125-.174.203s-.05.199-.05.355v7.91c0 .64.103 1.23.306 1.777s.525 1.015.96 1.414c.436.398.998.706 1.677.933s1.498.336 2.446.336c.952 0 1.766-.114 2.446-.336l.004-.004zm-14.529-.066c.078-.063.135-.133.167-.211s.05-.196.05-.348v-9.73h2.962c.22 0 .399-.02.533-.062s.244-.13.321-.266c.09-.168.16-.402.208-.699s.073-.539.073-.718c0-.149-.012-.262-.04-.34s-.078-.14-.155-.191c-.053-.032-.122-.055-.216-.07s-.22-.024-.39-.024h-9.226c-.22 0-.4.02-.534.059s-.244.128-.321.265c-.09.156-.159.36-.208.617s-.073.52-.073.793c0 .156.012.273.04.351s.082.14.168.191c.101.063.3.094.594.094h3.304v9.73c0 .266.074.453.224.558.183.137.607.207 1.274.207.643 0 1.058-.07 1.254-.203l-.009-.004zM2.109 20.67H12.49c1.017 0 1.786.308 2.087 1.694.334 1.542.196 2.616-1.611 2.737l-3.26.222c2.397 14.541 16.421 19.281 24.056 3.62 1.265-2.593 1.676-3.065 3.06-2.733 1.876.445 2.133 1.374 1.237 3.986-6.6 19.308-28.788 21.241-33.143-4.54l-2.645.183C.115 25.987.033 24.242.033 23.274c0-1.918.741-2.605 2.076-2.605zM43.7 15.031c0 2.042-1.725 3.698-3.853 3.698s-3.854-1.656-3.854-3.698 1.725-3.698 3.854-3.698S43.7 12.99 43.7 15.031z" fill="#d40e14" data-v-f32b32d6="" data-v-42dce2cb=""></path></svg>
  </router-link>
</template>

<style lang="sass">
</style>

<script>
export default {
  name: 'Logo',
};
</script>
