<style lang="sass" scoped>
.menu
  position: absolute
  background-color: $tui-white
  display: grid
  z-index: 999
  width: 395px
  border-radius: 5px
  text-align: initial
  border: 1px solid $tui-grey-50
  &__item
    padding: 15px
    color: $tui-dark-100
    cursor: pointer
    &:hover
      background-color: $tui-grey-38
</style>
<template>
  <div v-if="items.length > 0" class="menu">
    <span class="menu__item" v-for="item in items" :key="item.iataCode" @click="$emit('click', item)">{{ item.name }}, {{ item.address.countryName }}</span>
  </div>
</template>
<script>

export default {
  name: 'Menu',
  props: ['items'],
  emits: ['click'],
  data() {
    return {
      active: this.items.length > 0,
    };
  },
};
</script>
