<style lang="sass" scoped>
.input-group
  width: 90%
  &__input
    margin-bottom: 8px
    width: 100%
    color: $tui-dark-100
    background: none
    font-size: 20px
    font-weight: 300
    padding: 10px
    display: block
    border: none
    border-radius: 5px
    border: 1px solid $tui-grey-50
    @media (max-width: $breakpoint-lg)
      font-size: 16px
    &:focus
      outline: none
      box-shadow: 0 0 0 3px $tui-blue-200
  &__label
    font-size: 20px
    color: $tui-dark-100
    position: absolute
    margin-top: 10px
    right: 340px
    @media (max-width: $breakpoint-lg)
      right: 170px
</style>
<template>
  <div class="input-group">
    <input class="input-group__input" type="number" min="1" :ref="name" :modelValue="modelValue" @input="$emit('update:modelValue', $event.target.value)" :placeholder="placeholder"/>
  </div>
</template>
<script>

export default {
  name: 'NumericInput',
  props: ['modelValue', 'name', 'placeholder'],
  emits: ['update:modelValue'],
  watch: {
    modelValue(v) {
      this.$refs[this.name].value = v;
    },
  },
};
</script>
