<template>
  <v-date-picker v-model="range" is-range :min-date="new Date()">
    <template v-slot="{ inputValue, inputEvents }">
      <div class="datepicker__row">
        <Input name="startDate" :value="inputValue.start" v-on="inputEvents.start"/>
        <div class="datepicker__row--margin">
          <Input name="endDate" @input="updateValue()" :value="inputValue.end" v-on="inputEvents.end"/>
        </div>
      </div>
    </template>
  </v-date-picker>
</template>
<style lang="sass">
.datepicker
  &__row
    display: flex
    max-height: 45px
    margin-bottom: 10px
    width: 95%
    &--margin
      margin-left: 10px
</style>

<script>
import Input from '@/atoms/Input.vue';

export default {
  name: 'Datepicker',
  components: {
    Input,
  },
  data() {
    return {
      range: {
        start: new Date(),
        end: new Date().setDate(new Date().getDate() + 1),
      },
    };
  },
  watch: {
    range() {
      this.$emit('change', this.range);
    },
  },
};
</script>
