<template>
  <Topbar/>
  <router-view/>
</template>

<style lang="sass">
body
  margin: 0 !important

#app
  font-family: Roboto, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
</style>

<script>
// @ is an alias to /src
import Topbar from '@/components/Topbar/Topbar.vue';
import { getAmadeusAccessToken } from './services/api';

export default {
  name: 'App',
  components: {
    Topbar,
  },
  beforeCreate() {
    getAmadeusAccessToken();
  },
};
</script>
